* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}

.main {
  width: 650px;
  margin: 150px auto 0 auto;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoInput,
.todoSubmit {
  width: 100%;
  font-size: 24px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #5f5656e3;
  font-family: 'Roboto', sans-serif;
}

.clearAll {
  background: #d3d1d1e3;
  padding: 12px 20px;
  font-size: 14px;
  border: none;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  margin-left: 15px;
}

.hide {
  display: none;
}

.active {
  background: #ff0;
}
